*,
body a {
    text-decoration: none;
}

#video-editor-nav {
    overflow: hidden;
    height: 36px;
}
#listener_gif {
    mix-blend-mode: screen;
    margin: 0px;
    position: relative;
    top: -20px;
    left: -40px;
    display: none;
}

#navbarcustom {
    overflow: hidden;
}
/* Home Page Css */
.home-navbar {
    width: 100%;
    background-color: #ffffff;
}
nav .left-container h2 {
    font-family: "Oswald", sans-serif;
}
.logoImg img {
    height: 50px;
    filter: drop-shadow(0px 0px 4px rgb(238, 133, 138));
    transition: all 0.4s ease;
}
.logoImg img:hover {
    filter: drop-shadow(0px 0px 12px rgb(255, 100, 108));
}
nav .right-container a {
    color: #000000;
    border: 1px solid #00000060;
    padding: 6px 15px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}
nav .right-container a:hover {
    background-color: #00000020;
}

@media screen and (max-width: 991px) {
    nav .right-container a {
        color: #000000;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
        border: none;
    }
    nav .right-container > div {
        width: 100%;
        text-align: center;
        padding: 5px 0;
    }
}
.home-body {
    background-color: #ffffff;
    height: 95vh;
}
.home-body .info-card {
    width: 30%;
    text-align: center;
    position: absolute;
    left: calc(50% - 15%);
    top: 30%;
    background-color: transparent;
    z-index: 2;
}
.features .photo-editor,
.features .photo-editor-smart {
    height: 65vh;
    border: 1px solid #00000050;
    border-radius: 8px;
}
.features .photo-editor img,
.features .photo-editor-smart img {
    width: 50%;
}
#about-panel {
    display: none;
}
/* Photo Editor Page Css */
