#confirm-image-box {
    display: none;
}

html {
    height: 100%;
}

body,
#photo-editor-panel .row {
    height: 85%;
}

.custom-main-box {
    height: 100% !important;
}
#Imagecanvas {
    height: 100%;
    width: 100%;
    display: none;
}

#imageOperationBox,
#imageOperationBox2 {
    display: none;
}
/* New Ui Css */
.image-editor-section .image-upload input[type="file"] {
    display: none;
}
.image-editor-section .image-upload .card {
    background-color: #00000005;
}
